<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>947729722662-gtggrfqmhvahbbu90c0esoaebcg4ru08.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947729722662-gtggrfqmhvahbbu90c0esoaebcg4ru08</string>
	<key>API_KEY</key>
	<string>AIzaSyAGYTwVUS2h2S5mX7BqGZeA1w7bcKO38Ms</string>
	<key>GCM_SENDER_ID</key>
	<string>947729722662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sisterhoodApp</string>
	<key>PROJECT_ID</key>
	<string>sisterhood-3f7ef</string>
	<key>STORAGE_BUCKET</key>
	<string>sisterhood-3f7ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947729722662:ios:a3319f0a415eef868525e7</string>
	<key>DATABASE_URL</key>
	<string>https://sisterhood-3f7ef-default-rtdb.firebaseio.com</string>
</dict>
</plist>